process {
    executor = 'slurm'
    queue = 'aussrc_cluster'
}

params {
    WALLABY_COMPONENTS_IMAGE = 'aussrc/wallaby_scripts:latest'
    S2P_IMAGE = 'aussrc/s2p_setup:latest'
    SOFIA_IMAGE = 'astroaustin/sofiax:v0.0.6'
    SOFIAX_IMAGE = 'astroaustin/sofiax:v0.0.6'

    SOFIA_RUN_NAME = 'sofia'
    SOFIA_PARAMS_FILE = 'sofia.par'
}

singularity.enabled = true